.container {
  display: flex;
}

.product {
  margin-top: 60px;
}

.sidebar {
  width: 280px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
