.btn_viewAll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; // chiếm toàn bộ chiều rộng để luôn căn giữa
  margin: 20px 0; // thêm khoảng cách trên/dưới

  button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 26px 12px 26px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    font-family: system-ui;
    transition: all 0.3s ease;
  }

  button:hover {
    border-color: #bf585b;
    color: #bf585b;
  }
}

// Responsive Tablet
@media (max-width: 1024px) {
  .btn_viewAll button {
    padding: 9px 22px;
    font-size: 15px;
  }
}

// Responsive Mobile
@media (max-width: 768px) {
  .btn_viewAll button {
    padding: 8px 20px;
    font-size: 14px;
  }
}
